@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  z-index: 100;
  border-bottom: 0.5px solid #e9e9e9;
  position: sticky;
  top: 0;
}

.active:before {
  position: absolute;
  content: "";
  width: 1.5%;
  height: 1px;
  border-bottom: 2px solid #4a60a1;
  bottom: 25px;
}
.nav-link:before {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  border-bottom: 2px solid #4a60a1;
  bottom: 25px;
  transition: width 0.3s;
}
.nav-link:hover:before {
  width: 1.5%;
}
.btn {
  background-color: #4a60a1;
}
.btn:hover {
  background-color: #3c4e83;
}
.section-one {
  background: linear-gradient(
      0deg,
      rgba(6, 48, 83, 0.6) 0%,
      rgba(6, 48, 83, 0.6) 100%
    ),
    url("../public/images/house8.jpg") lightgray 50% / cover no-repeat;
}

.card1 {
  background: linear-gradient(
      180deg,
      rgba(59, 77, 129, 0.8) 0%,
      rgba(59, 77, 129, 0) 100%
    ),
    url("../public/images/house1.jpg") lightgray 50% / cover no-repeat;
}
.card2 {
  background: linear-gradient(
      180deg,
      rgba(59, 77, 129, 0.8) 0%,
      rgba(59, 77, 129, 0) 100%
    ),
    url("../public/images/house2.jpg") lightgray 50% / cover no-repeat;
}
.card3 {
  background: linear-gradient(
      180deg,
      rgba(59, 77, 129, 0.8) 0%,
      rgba(59, 77, 129, 0) 100%
    ),
    url("../public/images/house3.jpg") lightgray 50% / cover no-repeat;
}
.card4 {
  background: linear-gradient(
      180deg,
      rgba(59, 77, 129, 0.8) 0%,
      rgba(59, 77, 129, 0) 100%
    ),
    url("../public/images/house9.jpg") lightgray 50% / cover no-repeat;
}
.card5 {
  background: linear-gradient(
      180deg,
      rgba(59, 77, 129, 0.8) 0%,
      rgba(59, 77, 129, 0) 100%
    ),
    url("../public/images/house5.jpg") lightgray 50% / cover no-repeat;
}
.card {
  background-size: 100%;
  transition: background-size 800ms;
}
.card:hover {
  background-size: 120%;
  cursor: pointer;
}
.card-details {
  transition: transform 800ms;
}
.card:hover .card-details {
  transform: translateX(20px);
}

.section-three,
.section-six {
  background: #edeff6;
}

.card6 {
  background: url("../public/images/house5.jpg") lightgray 50% / cover no-repeat;
}

.card7 {
  background: linear-gradient(
      180deg,
      rgba(59, 77, 129, 0) 0%,
      rgba(59, 77, 129, 0.5) 100%
    ),
    url("../public/images/house6.jpg") lightgray 0px 0.125px / 100% 99.941%
      no-repeat;
}
.card8 {
  background: linear-gradient(
      180deg,
      rgba(59, 77, 129, 0) 0%,
      rgba(59, 77, 129, 0.5) 100%
    ),
    url("../public/images/house2.jpg") lightgray 0px 0.125px / 100% 99.941%
      no-repeat;
}
.card9 {
  background: linear-gradient(
      180deg,
      rgba(59, 77, 129, 0) 0%,
      rgba(59, 77, 129, 0.5) 100%
    ),
    url("../public/images/house1.jpg") lightgray 0px 0.125px / 100% 99.941%
      no-repeat;
}
.card-two:hover {
  cursor: pointer;
}
.card-two-details {
  transition: transform 800ms;
}
.card-two:hover .card-two-details {
  transform: translateY(-20px);
}
